
<div class="jumbotron jumbotron-fluid" id="jumbotron-showevent" >
  <div class="container-fluid blockquote text-center d-flex justify-content-center">
<div class="container" id="transparent">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <%= form_for @event, html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Créer un événement</h1>
        <div class="form-group">
          <%= f.label :title, "Titre" %><br />
          <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :start_date, "Date" %><br />
          <%= f.datetime_field :start_date, autofocus: true, autocomplete: "start_date", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :duration, "Durée" %><br />
          <%= f.text_field :duration, autofocus: true, autocomplete: "duration", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :price, "Prix" %><br />
          <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location, "Ville" %><br />
          <%= f.text_field :location, autofocus: true, autocomplete: "location", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, "Description" %><br />
          <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :picture, "Ajouter une image" %><br />
          <%= f.file_field :picture %>
        </div>
        
        <div class="actions mt-5">
          <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
        </div>
        <br />
      <% end %>
    </div>
  </div>
</div>
</div>
</div>