<html>
  <body>
    <div class="jumbotron jumbotron-fluid" id="jumbotron-showevent" >
      <div class="container-fluid blockquote text-center d-flex justify-content-center">
        <div class="container rounded" id="transparent">
        <div class="container my-4">
          <h2> <%= @event.title %> </h2>
        </div>
        <div class="container d-flex justify-content-around my-4">
          <p><span class="text-primary">Date de début : </span><br/><%= @event.start_date %></p>
          <p><span class="text-primary">Date de fin : </span><br/><%= @event.start_date + (@event.duration * 60) %></p>
          <p><span class="text-primary">Durée de l'événement : </span><br/><%= @event.duration %> min</p>
        </div>
        <div class="container d-flex justify-content-around my-4">
        <p><span class="text-primary">Ville : </span><%= @event.location %></p>
        </div>
        <div class="container my-4">
          <p><span class="text-primary">Nombre d'inscrits : </span><%= @event.participants.count %></p>
        </div>
        <div class="container my-4">
          <p><span class="text-primary">Description de l'événement : </span><br/><%= @event.description %></p>
        </div>
        <div class="container my-4">
          <p><span class="text-primary">Prix : </span><%= @event.price %>$</p>
        </div>
        <div class="container my-4">
          <p><span class="text-primary">Email du créateur de l'événement : </span><%= @event.admin.email %></p>
        </div>
        </div>
      </div>
</div>
</body>
</html>