
<div class="jumbotron jumbotron-fluid" id="jumbotron-showevent" >
  <div class="container-fluid blockquote text-center d-flex justify-content-center">
<div class="container" id="transparent">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <%= form_tag event_attendances_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <p>Payer : <%= @event.price %>€</p>
      <p> pour l'événement : </p>
      <p class="text-primary" ><%=@event.title%></p>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount= <%= @amount %>
          data-currency="eur"
          data-locale="auto"></script>
<% end %>

    </div>
  </div>
</div>
</div>
</div>